*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #003049 ;
  --font-color:#ff0000;
}

.navigation-bar{
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 2rem;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.header-button{
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  display: inline-block;
  border: none;
  max-height: 3rem;
  background-color: transparent;
  color: #003049;
  font-size: 2rem;
  padding: 1rem;
}

.header-button::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 55px;
  left: 0;
  background-color: #ff0000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-button:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-button.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0000;

}

.shop-container,
.shopping-cart-container{
  background-color: rgb(234, 234, 234);
}

.homepage-container{
  display: flex;
  flex-direction: column;
  row-gap: 20rem;
  align-items: center;
}

.gotoshop-button{
  background-color: var(--background-color);
  border: solid .1rem blue;
  color: var(--font-color);
  padding: 2rem;
}

.shop-container{
  position: relative;
  padding: 8rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
  align-items: flex-start;
}

.cart-button{
  position: fixed;
  border: none;
  border-radius: 25px;
  left: 92%;
  bottom: 93%;
  padding: .4rem;
  z-index: 9999;
  background-color: transparent;
}

.cart-button:hover{
  cursor: pointer;
}

.cart-icon{
  position: relative;
  font-size:2rem;
  color: #003049;
  background-color: none;
}

.cart-items-amount{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  color: white;
  border-radius: 50%;
  padding: .1rem .5rem;
  font-size: 70%;
  top: 25px;
  right: 30px;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  align-items: center;
  font-size: .7rem;
  max-height: 20rem;
}


.item:hover{
  background-color: rgb(218, 218, 218);
}

.item-image{
  width: 15rem;
  max-height: 8rem;
  border-radius: 5px;
}

.item-image.cart{
  width: 23rem;
  max-height: 19rem;
}

.item-text{
  text-align: center;
  color: #ff0000;
}

.add-to-cart-button{
  display: flex;
  font-size: .8rem;
}

.toggle-item-button{
  visibility: hidden;
  position: absolute;
  bottom: 83%;
  right: 200px;
  margin-bottom: .2rem;
}

.display-item-in-cart{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 72%;
  right: 5%;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  font-size: .8rem;
  padding: .4rem;
}

.item-buttons{
  display: flex;
  visibility: hidden;
  gap: 1.3rem;
  font-size: 1.2rem;
}

.amount-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .toggle-item-button{
  visibility: visible;
}


.item:hover .item-image{
  filter: brightness(50%);
}

.increment,
.decrement,
.toggle-item-button{
  font-size: 1.4rem;
  border-radius: 25px;
  padding: .5rem;
  border: none;
  background-color: inherit;
  font-weight: 900 ;
}

.toggle-item-button:hover,
.decrement,
.increment{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.hidden:hover{
  visibility: hidden;
}

.item:hover .show{
  visibility: visible;
}

.shopping-cart-container{
  display: grid;
  grid-template-columns: repeat(2, auto-fill);
}

.shopping-cart-items{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; 
}

.item-cart-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-display{
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .7rem;
  max-height: 15rem; 
}

.item-display-title{
  font-size: 1.3rem;
}