*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #003049 ;
  --font-color:#ff0000;
  --speed: 500ms;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body
#root{
  height: 100%;
  margin: 0;
}

.navigation-bar{
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding-right: 40%;
  padding-left: 40%;
  padding-bottom: 2rem;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.logo-title-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 5%;
  top: 1.5%;
  gap: .5rem;
}

.title{
  /* font-family: 'IBM Plex Mono', monospace; */
  letter-spacing: .1rem;
  font-size: 3rem;
  font-variant: small-caps;
}

.logo{
  transform: rotate(-20deg);
  width: 4rem;
}

.logo-homepage{
  transform: rotate(-20deg);
  width: 9rem;
}

.logo-container-homepage{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 5%;
  top: 1.5%;
  gap: .5rem;
}

.title-homepage{
  color: white;
  letter-spacing: .1rem;
  font-size: 3rem;
  font-variant: small-caps;
}

.gotoshop-button{
  position: absolute;
  top: 4%;
  left: 80%;
  overflow: hidden;
  padding: 0.8em 1.8em;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: .3s;
  font-family: inherit;
  border: 1px solid #17C3B2;
  color: #17C3B2;
  z-index: 1;
  font-weight: 900;
}

.gotoshop-button::before{
  content:'';
  width: 0;
  height: 300%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.gotoshop-button:hover::before{
  width: 105%;
}

.gotoshop-button:hover{
  color: #111;
}

.header-button{

  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  display: inline-block;
  border: none;
  max-height: 3rem;
  background-color: transparent;
  color: #003049;
  font-size: 2rem;
  padding: 1rem;
}


.header-button::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 59px;
  left: 0;
  background-color: #c00cae;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-button:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-button.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c00cae;

}

.dropdown-button{
  position: relative;
  margin-top: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 58px;
  width: 300px;
  background-color: #ffffff;
  padding: 1rem;
  overflow: hidden;
  border: #490000;
  border-radius: 5px;
  z-index: 1;
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes rotateMenu {
  0% {
      transform: rotateX(-90deg)
  }
  70% {
      transform: rotateX(20deg) 
  }
  100% {
      transform: rotateX(0deg) 
  }
}

.dropdown-item{
  font-size: 1rem;
  height: 30px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.dropdown-item:hover{
  background-color: #01273b;
  color: white;
}

.shop-container,
.shopping-cart-container{
  background-color: rgb(234, 234, 234);
}

.homepage-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#hero-video{
  min-width:90%;
}

.shop-container{
  position: relative;
  padding: 4rem;
  display: grid;
  column-gap: 5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
  align-items: flex-start;
}

.cart-button{
  position: fixed;
  border: none;
  left: 92%;
  bottom: 92%;
  padding: .4rem;
  z-index: 1;
  background-color: transparent;
}

.cart-button:hover{
  cursor: pointer;
}

.cart-icon{
  position: relative;
  font-size:2rem;
  color: #003049;
  background-color: none;
}

.cart-items-amount{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  color: white;
  border-radius: 50%;
  padding: .1rem .5rem;
  font-size: 70%;
  top: 25px;
  right: 30px;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  align-items: center;
  font-size: .7rem;
  max-height: 20rem;
}


.item:hover{
  background-color: rgb(218, 218, 218);
}

.item-image{
  width: 15rem;
  height: 8rem;
  border-radius: 5px;
}

.item-image.cart{
  width: 10rem;
  max-height: 19rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.item-text{
  text-align: center;
  color:#082534;
}

.add-to-cart-button{
  display: flex;
  font-size: .8rem;
}

.toggle-item-button{
  visibility: hidden;
  position: absolute;
  bottom: 83%;
  right: 200px;
  margin-bottom: .2rem;
}

.display-item-in-cart{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 72%;
  right: 5%;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  font-size: .8rem;
  padding: .4rem;
}

.item-buttons{
  display: flex;
  visibility: hidden;
  gap: 1.3rem;
  font-size: 1.2rem;
}

.amount-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .toggle-item-button{
  visibility: visible;
}


.item:hover .item-image{
  filter: brightness(50%);
}

.increment,
.decrement,
.toggle-item-button{
  font-size: 1.4rem;
  border-radius: 25px;
  padding: .5rem;
  border: none;
  background-color: inherit;
  font-weight: 900 ;
}

.toggle-item-button:hover,
.decrement,
.increment{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.hidden:hover{
  visibility: hidden;
}

.item:hover .show{
  visibility: visible;
}

.shopping-cart-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.shopping-cart-items{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; 
}

.item-cart-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
}

.item-display{
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .7rem;
  max-height: 15rem; 
}

.item-display-title{
  font-size: 1.3rem;
}

.check-out-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border: 25px;
  padding: 3rem;
  margin: 4rem;
  border-radius: 35px;
}

.pay-button{
  border: none;
  padding:1rem;
  font-size: 1rem;
  margin-top: 5rem;
  border-radius: 15px;
  background-color: #003049;
  color: white;
}

.pay-button:hover{
  background-color: #01273b;
}