*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #003049 ;
  --font-color:#ff0000;
  --speed: 500ms;
}

html,
body
#root{
  height: 100%;
  margin: 0;
}

li{
  list-style: none;
}

.navigation-bar{
  background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 20%;
  padding-left: 10rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1050px ) {
  .dropdown-button{
    display: none;
  }
}


a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.logo-title-container{
  display: flex;
  gap: .5rem;
}

.title{
  letter-spacing: .1rem;
  font-size: 3rem;
  font-variant: small-caps;
}

.logo{
  transform: rotate(-20deg);
  width: 4rem;
}

.logo-homepage{
  transform: rotate(-30deg);
  width: 11rem;
}

.logo-container-homepage{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 3%;
  top: 5%;
  gap: .5rem;
  z-index: 1;
}

.title-homepage{
  color: white;
  letter-spacing: .1rem;
  font-size: 3rem;
  font-variant: small-caps;
}

.gotoshop-button{
  position: absolute;
  top: 4%;
  right: 5%;
  overflow: hidden;
  padding: 0.8em 1.8em;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: .3s;
  border: 1px solid #17C3B2;
  color: #17C3B2;
  z-index: 1;
  font-weight: 900;
}

.gotoshop-button::before{
  content:'';
  width: 0;
  height: 300%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.gotoshop-button:hover::before{
  width: 105%;
}

.gotoshop-button:hover{
  color: #111;
}

.header-button{

  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  display: inline-block;
  border: none;
  max-height: 3rem;
  background-color: transparent;
  color: #003049;
  font-size: 2rem;
  padding: 1rem;
}


.header-button::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 59px;
  left: 0;
  background-color: #17C3B2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-button:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-button.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #17C3B2;

}

.dropdown-button{
  color: #003049;
  position: relative;
  margin-bottom: -.3rem;
  border: none;
  background-color: transparent;
  font-size: 2em;
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 58px;
  left: 1px;
  width: 300px;
  background-color: #ffffff;
  padding: 1rem;
  overflow: hidden;
  border: #490000;
  border-radius: 5px;
  z-index: 1;
  animation: rotateMenu 400ms ease-in forwards;
  transform-origin: top center;
}

@keyframes rotateMenu {
  0% {
      transform: rotateX(-90deg)
  }
  70% {
      transform: rotateX(20deg) 
  }
  100% {
      transform: rotateX(0deg) 
  }
}

.dropdown-item{
  font-size: 1rem;
  height: 30px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.dropdown-item:hover{
  background-color: #01273b;
  color: white;
}

.responsive-dropdown-button{
  padding-top: 1rem;
  color: #003049;
  position: relative;
  display: none;
  font-size: 2em;
  flex-direction: column;
}

.responsive-dropdown-container{
  position: absolute;
  z-index: 1;
  transform-origin: top center;
  animation: rotateMenu 400ms ease-in forwards;
}

@media (max-width: 1050px){
  .responsive-dropdown-button{
    display: flex;
  }
}

@media (max-width: 700px){
  .shop-button-container{
    display: none;
  }
}
@media (max-width: 500px){
  .home-button-container{
    display: none;
  }
}

.search-container{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: -.5rem;
}

@media (max-width: 950px ) {
  .search-container{
    display: none;
  }
}

.search-button{
  color: #003049;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
}

.search-input{
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 25px;
  margin-left: 3rem;
}

.category-shown{
  font-size: 1.2rem;
  display: flex;
  align-content: center;
  min-width: 10rem;
}

.shop-container,
.shopping-cart-container{
  background-color: rgb(234, 234, 234);
}

.background-brightness-wrapper{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  backdrop-filter: brightness(10%);
  z-index: 1;
}

.game-info-modal{
  color: #17C3B2;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center center;
  position:fixed;
  display: flex;
  align-items: flex-end;
  top: 50%;
  left: 50%;
  display: flex;
  min-height: 40rem;
  width: 80%;
  box-shadow: 1px 1px 5px 1px black;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 1px 0 #000;
  font-size: 2rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: opacity .5s;
  animation: slideimage .3s forwards alternate;
}



.game-info{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  height: 30%;
  gap: 2rem;
}

.add-to-cart-modal{
  position: absolute;
  cursor: pointer;
  top: 5%;
  left: 5%;
  padding: 0.8em 1.8em;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: .3s;
  font-family: inherit;
  min-width: 15rem;
  color: #9fe4dd;
  border: 4px solid #17C3B2;
  border-radius: 5px;
  z-index: 1;
  font-weight: 900;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.close-button{
  font-size: 2rem;
  position: absolute;
  top:5%;
  right: 5%;
  cursor: pointer;
  background-color: #0d5d55;
  border: .1rem solid #0d5d55;
  border-radius: 50%;
}

.close-button:hover{
  transition: 500ms;
  transform: rotate(180deg);
}

.left-arrow,
.right-arrow{
  font-size: 5rem;
  position: absolute;
  top: 20%;
  cursor: pointer;
}

.left-arrow{
  left: 5%;
}

.left-arrow:hover{
  transition: 200ms;
  transform:translateX(-3px) ;
}

.right-arrow{
  right: 5%;
}

.right-arrow:hover{
  transition: 200ms;
  transform: translateX(3px);
}

.game-info-top-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game-info-bottom-row{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game-platforms-container,
.game-genres-container,
.game-esrb-rating-container{
  display: flex;
  flex-direction: column;
  animation: none;
  transition: none;

}

.game-genres-container{
  font-size: 1.3rem;
}

.game-platforms-title,
.game-genres-title,
.game-esrb-rating-title{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bolder;
  align-items: center;
}

.game-platforms-title > hr,
.game-genres-title > hr,
.game-esrb-rating-title > hr{
  width:100%;
}

.game-platforms,
.game-genres,
.game-esrb-rating{
  display: flex;
  justify-content: center;
}

.game-platforms{
  gap: 1rem;
}
.game-esrb-rating{
  font-size:1.3rem ;
}

.homepage-container{
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
}

.homepage-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.shop-container{
  position: relative;
  padding: 4rem;
  display: grid;
  column-gap: 5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
  align-items: flex-start;
}

.cart-button{
  position: fixed;
  border: none;
  right: 2%;
  bottom: 92%;
  padding: .4rem;
  z-index: 1;
  background-color: transparent;
}

.cart-button:hover{
  cursor: pointer;
}

.cart-icon{
  position: relative;
  font-size:2rem;
  color: #003049;
  background-color: none;
}

.cart-items-amount{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  min-width: 1.5rem;
  min-height: 1.5rem;
  font-size: 15px;
  top: 25px;
  right: 30px;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  align-items: center;
  font-size: .7rem;
  max-height: 20rem;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function:ease-in-out ;
  /* transition: opacity ease-in 2s; */
  animation: fadein 2s;
}


@keyframes fadein {
  from { opacity : 0; }
  to   { opacity: 1; }
}

@keyframes slideimage {
  from { opacity: 1;}
  50% { opacity: .5;}
  to { opacity:1;}
}

.item:hover{
  background-color: rgb(218, 218, 218);
}

.item-image{
  width: 15rem;
  height: 8rem;
  border-radius: 5px;
}

.item-image-cart{
  width: 10rem;
  max-height: 19rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.item-text{
  text-align: center;
  color:#082534;
}


.toggle-item-button{
  visibility: hidden;
  position: absolute;
  bottom: 87%;
  right: 40%;
  font-size: 1rem;
  border: none;
  min-width: 8rem;
  border-radius: 15px;
  padding: .1rem .5rem;
  background-color:transparent;
  border: solid .1rem #17C3B2;
  color: #053631;
  text-align: center;
  z-index: 1;
  
}

.rating{
  display: flex;
  font-size:1rem;
  color: rgb(255, 179, 0);
  position: absolute;
  bottom: 89%;
  left: 77%;
}

.rating-score{
  margin-right: .3rem;
  color: #003049;
  font-weight: 500;
}

.rating-score-game-info{
  display: flex;
  align-items: center;
  font-size:2rem;
  color: rgb(255, 179, 0);
  gap: 1rem;
}

.no-reviews{
  font-size: 1rem;
}

.rating .no-reviews{
  font-size: smaller;
  margin-left: -2rem;
}

.game-details-icon{
  visibility: hidden;
  font-size: 1.2rem;
  color: white;
  position: absolute;
  top: 35%;
  right: 45%;
}

.display-item-in-cart{
  background-color:var(--font-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  right: 5%;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  font-size: .8rem;
  padding: .4rem;
}

.item-buttons{
  display: flex;
  visibility: hidden;
  gap: 1.3rem;
  font-size: 1.2rem;
}

.amount-display{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
}

.item:hover .toggle-item-button,
.item:hover .game-details-icon{
  visibility: visible;
}


.item:hover .item-image{
  filter: brightness(50%);
}

.increment,
.decrement{
  font-size: 1.4rem;
  border-radius: 25px;
  padding: .5rem;
  border: none;
  background-color: inherit;
  font-weight: 900 ;
}

.toggle-item-button:hover,
.item-image,
.game-details-icon,
.decrement,
.increment{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

.hidden:hover{
  visibility: hidden;
}

.item:hover .show{
  visibility: visible;
}

.shopping-cart-container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
}

.shopping-cart-items{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; 
}

.item-cart-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 35px;
}

.item-display{
  padding: 3rem;
  padding-bottom: .5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .7rem;
  max-height: 15rem; 
}

.item-display-title{
  font-size: 1.3rem;
}

.check-out-info{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  align-items: flex-start;
  background-color: white;
  border: 25px;
  padding: 3rem;
  margin: 4rem;
  border-radius: 35px;
}

.amount-checkout{
  display: flex;
  justify-content: center;
}

.pay-button{
  border: none;
  padding:1rem;
  font-size: 1rem;
  margin-top: 5rem;
  border-radius: 15px;
  background-color: #003049;
  color: white;
}

.pay-button:hover{
  background-color: #01273b;
}
